awb_pfe_project.tar 
awb-complet.tar
project_AWB.tar
myown_script.sql
docker-compose.yml
outputs/*
files/*
prompt.md
rapport-leila-saddad-un-assistant-interne-it-1777235402.pdf
seed_report_results.sql
sc.ps1
prompt1.md 
prompt.md
docker-compose.yml
outputs/*